# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.checkpoint.ipynb

# Models / large artifacts
models/*.pkl

# Data (keep small samples only)
data/*.csv
data/*.parquet
data/*.json

# IDE
.vscode/
.idea/
